@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* Navbar */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 0px;
  width: 80%;
  margin: auto;
  border-bottom:1px #77777735 solid ;
}
.navbar .logo{
  pointer-events: none;
  user-select: none;
}
.navbar .links {
  display: flex;
  gap: 25px;
}
.navbar .links a{
  text-transform: capitalize;
  user-select: none;
}
/* homepage */
.home{
  text-align: center;
  width: 80%;
  padding:60px 0px;
  margin: auto;
}
.home h1{
  text-transform: capitalize;
  margin-bottom: 20px;
}
.home p{
  color: #333333ae;
  font-weight: 200;
  margin-bottom: 40px;
}
.home a{
  background-color: #437cfe;
  padding: 10px;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* 404 page */
.not-found{
  text-align: center;
  width: 80%;
  padding:60px 0px;
  margin: auto;
}
.not-found h1{
  text-transform: capitalize;
  color: #f9371ddf;
}
.not-found h2 {
  font-weight:400;
}
.not-found h2 a{
  font-weight:600;
  color: #33333393;
  text-decoration: underline;
}
/* footer */
.footer {
  text-align: center;
}
.footer p{
  font-weight: 200;
  color: #777777db;
}
